# Folders to ignore
stuff/*
venv/*
build/*
docs/build/*
dist/*
pyqaserver_2.0.1/*
.vscode/*
.idea/*
**/pyqaserver.egg-info
__pycache__/
*.pyc

#Files to ignore
/TODO LIST.txt
/.pylintrc
/pyqaserver/cert/server.crt
/pyqaserver/cert/server.key