<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" type="image/png" href="{{ url_for('favicon')}}?v=2" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>pyQAserver</title>
	<script src="{{ url_for('base.static', filename='jquery/jquery.min.js' )}}" type="text/javascript"></script>
	<script src="{{ url_for('base.static', filename='jquery-ui/js/jquery-ui.min.js' )}}"
		type="text/javascript"></script>
	<script src="{{ url_for('base.static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('base.static', filename='bootstrap-select/js/bootstrap-select.min.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('base.static', filename='luxon/js/luxon.min.js')}}" type="text/javascript"></script>
	<script src="{{ url_for('base.static', filename='tabulator/js/tabulator.min.js')}}"
		type="text/javascript"></script>

	<link href="{{ url_for('base.static', filename='jquery-ui/css/jquery-ui.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('base.static', filename='bootstrap-select/css/bootstrap-select.min.css') }}"
		rel="stylesheet">
	<link href="{{ url_for('base.static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('base.static', filename='tabulator/css/tabulator_bootstrap5.min.css')}}" rel='stylesheet'>
	<link href="{{ url_for('base.static', filename='css/module_general.css') }}" rel="stylesheet">


	{% block add_css %} {% endblock add_css %}
	{% block add_js %}
		<script>
			var orthancCallsTestOrthancConnection = "{{url_for('orthanc_calls.test_orthanc_connection', _external=True)}}";
			var orthancCallsGoToOrthancExplorer = "{{url_for('orthanc_calls.go_to_orthanc_explorer', _external=True)}}";
			var orthancCallsGetImageDescription = "{{url_for('orthanc_calls.get_image_description_for_instance', _external=True)}}";
			var orthancCallsGetSeriesDescription = "{{url_for('orthanc_calls.get_description_for_series', _external=True)}}";
			var orthancCallsGetPatientsAll = "{{ url_for('orthanc_calls.get_patients_all', _external=True) }}";
			var orthancCallsGetStudiesForPatient = "{{ url_for('orthanc_calls.get_studies_for_patient', _external=True) }}";
			var orthancCallsGetSeriesForStudy = "{{ url_for('orthanc_calls.get_series_for_study', _external=True) }}";
			var orthancCallsGetInstancesForSeries = "{{ url_for('orthanc_calls.get_instances_for_series', _external=True) }}";
		</script>
		<script defer src="{{ url_for('base.static', filename='js/scripts.js') }}" type="text/javascript"></script>
		<script defer src="{{ url_for('base.static', filename='js/base.js') }}" type="text/javascript"></script>
	{% endblock add_js %}
</head>

<body>
	{% block navbar %}{% endblock navbar %}
	{% block main %}{% endblock main %}
</body>
</html>