{% extends "base.html" %}

{% block add_css %}
	{# Padding is nonzero because navbar and body content overlap. Here we put it to 0 so we don't get the scrollbar. #}
	<style>
		body {
			padding-top: 0px;
			padding-bottom: 0px;
			}
	</style>
{% endblock add_css %}

{% block add_js %}
	{{ super() }}
	<script async="false">
		$(document).ready(function() {
			$("#username").focus();
			$("#username").select();
		});
	</script>
	
{% endblock add_js %}

{% block navbar %}
	{% include "navbar_login.html" %}
{% endblock navbar %}

{% block main %}
	<div class="container vh-100 d-flex justify-content-center align-items-center">
		<div class="row">
			<div class="col">
				<form class="form-signin card p-3" autocomplete="off" id="form-id" action="{{ url_for('base.login', next=next_page)}}" method="POST">
					<h1 class="h3 mb-4 font-weight-normal">Sign in to pyQAserver</h1>
					<div class="form-group mb-4">
						<label for="username">Username</label>
						<input type="text" autocomplete="off" id="username" name="username" class="form-control" required>
					</div>
					<div class="form-group mb-4">
						<div class="form-group">
							<label>Password</label>
					<input type="password" autocomplete="off" id="password" name="password" class="form-control" required>
						</div>
					</div>
					<button class="btn btn-danger w-100  mb-4" type="submit">Sign in</button>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="alert alert-danger" role="alert">
								{% for message in messages %}
									{{ message }}
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
				</form>
			</div>
		</div>
	</div>
{% endblock main %}