<div class="container mt-3">
    <div class="card card-default">
        <div class="card-body">
        <h3>Getting started</h3>
            <p>Read the documentation to get started with pyQAserver.</p>
            <p>
                <a class="btn btn-lg btn-danger" href="/docs/build/html/index.html" role="button" target="_blank">Read the docs &raquo;</a>
            </p>
        </div>
    </div>
    <div class="card card-default mt-3">
        <div class="card-body">
        <h3>Pylinac</h3>
            <p>Read the documentation.</p>
            <p>
                <a class="btn btn-lg btn-danger" href="https://pylinac.readthedocs.io/en/latest/" role="button" target="_blank">Pylinac &raquo;</a>
            </p>
        </div>
    </div>
     <div class="card card-default mt-3">
        <div class="card-body">
        <h3>Security</h3>
            <p>Be aware that pyQAserver does not implement top-notch security features. Therefore, follow these rules to make things safe:
                <ul>
                    <li>Do not upload patient data in any form. Use only identity-free data that results from your QA procedures.</li>
                    <li>Do not serve the app on a public server. Run the app on a local computer connected to your local network.</li>
                    <li>The database is not protected with a password, so keep the computer where it is located under lock and key.</li>
                </ul>
            </p>
            <p>
                <a class="btn btn-lg btn-danger" href="https://pylinac.readthedocs.io/en/latest/" role="button" target="_blank">Pylinac &raquo;</a>
            </p>
        </div>
    </div>
</div>
<footer class="page-footer blue pt-4">
    <div class="text-center">
        <p>
            Powered by <a target="_blank" href="https://github.com/jrkerns/pylinac">pylinac</a>,
            <a target="_blank" href="https://github.com/pallets/flask">Flask</a>,
            <a target="_blank" href="https://github.com/pallets-eco/flask-sqlalchemy">Flask-SQLAlchemy</a>,
            <a target="_blank" href="https://sqlite.org/index.html">SQLite</a>,
            <a target="_blank" href="https://www.orthanc-server.com/">Orthanc</a> ...
        </p>
    </div>
</footer>