{% extends "base.html" %}

{% block navbar %}
{% include "navbar_menupage.html" %}
{% endblock navbar %}

{% block main %}
{% include "orthanc_search_widgets.html" %}
<div class="threepart-container container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="card mb-2">
                <div class="card-header">
                    Selected images
                </div>
                <div class="card-body">
                    {% block add_selected_images_card_body %}

                    {% endblock add_selected_images_card_body %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Settings
                </div>
                <div class="card-body" id="settings_panel">
                    {% block add_module_settings_card_body %}

                    {% endblock add_module_settings_card_body %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9" id="result_region">

        </div>
    </div>
</div>
{% endblock main %}