{% extends "base.html" %}

{% block add_js %}
{{ super() }}
<script>
    var orthancCallsGoToOrthancExplorer = "{{url_for('orthanc_calls.go_to_orthanc_explorer', _external=True)}}";
    var orthancCallsGetImageDescription = "{{url_for('orthanc_calls.get_image_description_for_instance', _external=True)}}";
    var orthancCallsGetSeriesDescription = "{{url_for('orthanc_calls.get_description_for_series', _external=True)}}";
    var orthancCallsGetPatientsAll = "{{ url_for('orthanc_calls.get_patients_all', _external=True) }}";
    var orthancCallsGetStudiesForPatient = "{{ url_for('orthanc_calls.get_studies_for_patient', _external=True) }}";
    var orthancCallsGetSeriesForStudy = "{{ url_for('orthanc_calls.get_series_for_study', _external=True) }}";
    var orthancCallsGetInstancesForSeries = "{{ url_for('orthanc_calls.get_instances_for_series', _external=True) }}";
</script>
{% endblock add_js %}

{% block navbar %}
{% include "navbar_menupage.html" %}
{% endblock navbar %}

{% block main %}
{% include "orthanc_search_widgets.html" %}
<div class="threepart-container container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="card mb-2">
                <div class="card-header">
                    Selected images
                </div>
                <div class="card-body">
                    {% block add_selected_images_card_body %}

                    {% endblock add_selected_images_card_body %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Settings
                </div>
                <div class="card-body" id="settings_panel">
                    {% block add_module_settings_card_body %}

                    {% endblock add_module_settings_card_body %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9" id="result_region">

        </div>
    </div>
</div>
{% endblock main %}