<div class="threepart-container container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="card mb-2">
                <div class="card-header">
                    Selected images
                </div>
                <div class="card-body">
                    <p class="text-left" id="stationDescriptionText">Station:</p>
                    <p>
                        <button type="button" class="btn btn-secondary btn-block btn-sm" role="button"
                            onclick="goToOrthancExplorer();" style="--bs-btn-font-size: .75rem;">View in
                            Orthanc</button>
                        <button type="button" class="btn btn-secondary btn-block btn-sm" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseImageDescription" aria-expanded="false"
                            aria-controls="collapseImageDescription" style="--bs-btn-font-size: .75rem;">
                            Show description
                        </button>
                    <div class="collapse" id="collapseImageDescription">
                        <div class="card card-body">
                            <small id="imageDescriptionText"></small>
                        </div>
                    </div>
                    </p>
                    <div class="table table-sm" id="instanceTable">
                    </div>
                    <button type="button" class="btn btn-secondary btn-sm" id="instanceTableSelectAllButton"
                        style="--bs-btn-font-size: .75rem;">Select
                        All</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="instanceTableDeselectAllButton"
                        style="--bs-btn-font-size: .75rem;">Deselect
                        All</button>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Settings
                </div>
                <div class="card-body" id="settings_panel">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">

        </div>
    </div>
</div>