<div class="threepart-container container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="card mb-2">
                <div class="card-header">
                    Selected images
                </div>
                <div class="card-body">
                    <p class="text-left" id="stationDescriptionText">Station:</p>
                    <p>
                        <button class="btn btn-info btn-block btn-sm" role="button"
                            onclick="goToOrthancExplorer();">View in
                            Orthanc</a>
                            <button class="btn btn-info btn-block btn-sm" type="button" data-toggle="collapse"
                                data-target="#collapseImageDescription" aria-expanded="false"
                                aria-controls="collapseImageDescription">
                                Show image description
                            </button>
                            <div class="collapse" id="collapseImageDescription">
                                <div class="card card-body">
                                    <small id="imageDescriptionText"></small>
                                </div>
                            </div>
                    </p>
                    <div class="table table-sm" id="instanceTable">
                    </div>
                    <button type="button" class="btn btn-secondary btn-sm" id="instanceTableSelectAllButton">Select
                        All</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="instanceTableDeselectAllButton">Deselect
                        All</button>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Settings
                </div>
                <div class="card-body" id="settings_panel">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">

        </div>
    </div>
</div>